* {
  box-sizing: border-box;
}
body {
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
   margin: auto;
   background-color: lightblue; 
}
footer {
  border-top: solid;
  border-color: black;    
}
header, footer,
main {
  margin: 0.5%;   
  padding: 0.5rem;
}
.photoimage { width: 400px; 
}
.header {
  text-align: center;
} 
.navLinkItem {
  display: flex;
  list-style: none;
  padding: 0;
} 
.navLinkItem li {
  margin-right: 50px;  
} 
.navLinkItem a {
  text-decoration: none;
  color: green;
}
